body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: rgb(24, 37, 49);
}

.admin-form-container {
  max-width: 400px;
  padding: 25px; 
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-form-container h2 {
  margin-bottom: 20px;
  font-size: 32px; 
  color: #333;
}

.admin-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 5px; 
}

.form-group label {
  font-size: 18px; 
  font-weight: bold;
  color: #000;
  display: block;
  margin-bottom: 10px; 
}

.form-group input {
  padding: 15px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 18px; 
}

.admin-form button {
  padding: 20px 40px;
  background-color: #f97316;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px; 
  cursor: pointer;
  margin-top: 10px;
}

.admin-form button:hover {
  background-color: #05454d;
}

.admin-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}